.wrapper {
  background: linear-gradient(127deg, #2c2e65, #2a2c5d 23%, #000000);
  /* height: 630px; */
  position: relative;
}

.galaxy-bg {
  background: url("/images/galaxy-line.svg") no-repeat right top;
  object-fit: contain;
}

.wave-img {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.intro-logo {
  width: 80px;
}

.lead-description {
  margin-top: 100px;
}

.download-btn-area .btn-download {
  width: 173px;
  border-radius: 100px;
  background-color: #171837;
  box-shadow: 0 0 17px 0 #50E3C2;
  border: solid 3px #50E3C2;
  color: #50E3C2;
}

.download-btn-area a:hover {
  opacity: 0.8;
}

.mobile-screen {
  position: relative;
  width: 90%;
  z-index: 150;
}

.wave-img-section {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: -5px;
}